/*@import url("normalize.css");*/

body {
  font: 16px Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #FFF;
}

.container {
  max-width: 880px;
  margin: 60px auto 120px;
}

/*------------------------------------*\
    #INDEX
\*------------------------------------*/

header {
  display: block;
  text-align: center;
  margin: 24px;
}

hr {
  background-color: #E0E0E0;
  border: none;
  display: block;
  height: 2px;
}

main {
  display: block;
  margin: auto;
}

section {
  display: block;
  margin: 24px;
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

h1 {    
  font-size: 96px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 24px 0;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 24px 0;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.01em;
  margin: 24px 0;
}

h4 {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  margin: 12px 0;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.005em;
  margin: 12px 0;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin: 12px 0;
}

p {
  margin: 4px 0;
  line-height: 1.4;
}

li {
  margin: 4px 0;
}

a {
  /* font-weight: 700; */
  text-decoration: none;
  color: #1E88E5;
}