html {
  font-family: Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  transition: all 0.3s;
}

body {
  margin: 0;
}

.container {
  max-width: 880px;
  margin: 0 auto;
}

.section-title-container {
  margin: 48px 0;
  text-align: center;
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

h1 {
	font-size: 6rem;
	line-height: 1.25;
	margin: 0;
	font-weight: 400;
	letter-spacing: -2px;
}

h2 {
	font-size: 4rem;
	font-weight: 500;
	letter-spacing: -1px;
	margin: 0;
	line-height: 1.35;
}

h3 {
	font-size: 2.5rem;
	margin: 0;
	line-height: 1.5;
}

p {
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.5;
}

a {
  color: #1a73e8;
  font-weight: bold;
  line-height: 0;
	text-decoration: none;
	transition: all 0.15s;
}

/*------------------------------------*\
    #ABOUT
\*------------------------------------*/

.section-about {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/about-banner.jpg);
    /* background-attachment: fixed; */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 500px;
}

.about-profile-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 120px 130px;
  padding-top: 48px;
}

.about-profile-headshot {
  grid-column: 1;
  grid-row: 1 / 3;
}

.about-profile-headshot > img {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
}

.about-profile-heading {
  margin: 0 48px;
}

.about-profile-tagline {
  font-style: italic;
  margin: 24px 48px 0 48px;
}

.about-internship {
  padding-top: 36px;
}

.about-internship > p {
  font-size: 1.3rem;
  line-height: 1.3;
}

.about-contact {
  font-size: 2rem;
  padding-top: 24px;
}

.about-contact > a {
	color: #8bb3f8;
}

/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/

.project-grid {
  column-gap: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
}

.project-image {
  object-fit: cover;
  width: 100%;
}

.project-name {
  line-height: 1.3;
  margin-top: 4px;
}

.project-desc {
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 12px 0;
}

.project-link-container {
  margin-bottom: 8px;
}

.project-link {
	font-size: 1.5rem;
  line-height: 1.5;
}

/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/

.section-cv {
  margin-bottom: 120px;
}